# Dependencies
node_modules/

# Environment
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
coverage/
